
body{
    
    height: 100%;
    background: url ("./lovers.jpg");
    justify-content: center;
    flex-direction: column;
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


.botoes {
   transition: .3s;
   top: 850px;
   left: 30px;
   /*background: #14ee00;*/
}
.atributos{
    top: 120px;
    left: 700px;
	height:auto;
    transition: .3s;
    position: absolute;
}

.img {
    position: absolute;
}
.nav-wrapper {
    background: #e46973;
}
.this.state.descricao {
    background: #6eee55;
}

/*SIDEBAR*/

.root {
    position: "relative";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: "hidden";
  }

  .sidebar {
    zIndex: 2;
    position: "relative";
    top: 0;
    bottom: 0;
    transition: "transform .3s ease-out";
    WebkitTransition: "-webkit-transform .3s ease-out";
    willChange: "transform";
    overflowY: "auto";
  }

  .content {
    position: "absolute";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-Y: "auto";
    WebkitOverflowScrolling: "touch";
    transition: "left .3s ease-out, right .3s ease-out";
  }

  .overlay {
    z-Index: 1;
    position: "absolute";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: "hidden";
    transition: "opacity .3s ease-out, visibility .3s ease-out";
    background-Color: "rgba(0,0,0,.3)";
  }

  .dragHandle {
    zIndex: 1;
    position: "right";
    top: 0;
    bottom: 0;
  }
.drag-target{
   style: 10px right;

}